.navbar {
    padding: 20px;
    display: flex;
    align-items: center;
    max-width: fit-content;
    margin: 0 auto;
    border-bottom: 1px solid #f2f2f2;
  }
  .navbar .links {
    margin-left: auto;
  }
  .navbar a {
    margin-left: 5vw;
    text-decoration: none;
    padding: 1vw;
  }
  .navbar a:hover {
    text-shadow: 2px 2px 4px rgba(0, 245, 251, 0.5);
  }