@media screen and (min-width: 768px) {
  .formContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
  }

  .my-form {
    padding: 5vh;
    width: 30%;
  }
}

/* Styles for small screens */
@media screen and (max-width: 767px) {
  .formContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 60vh;
  }

  .my-form {
    width: 50%;
  }
}
.formContainer {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.my-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2vh;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    background: linear-gradient(to top right, rgba(23, 22, 36,1), rgba(47, 73, 125, 0.8));
    font-family: 'EB Garamond', serif;
    font-size: large;
  }
  .my-form input {
    color: black;
  }
  .my-form:hover {
    box-shadow: 2px 2px 20px rgba(0, 245, 251, 0.5);
  }
  .my-form__label {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
  }
  
  .my-form__input,
  .my-form__select {
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
  }
  
  .my-form__select {
    width: 100%;
  }
  
  .my-form__button {
    padding: 0.5rem;
    border: none;
    border-radius: 0.5rem;
    background-color: rgba(0, 245, 251, 0.5);
    padding: 1vh;
    color: #fff;
    cursor: pointer;
    font-family: 'EB Garamond', serif;
    font-size: large;
  }
  
  .my-form__button:hover {
    box-shadow: 2px 2px 20px rgba(0, 245, 251, 0.5);
  }